.app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
}


.filter-buttons {
border: solid 1px #ffff00;
border-radius: 4px;

}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #ffff00;
  padding-right: 50px;
}